parameters:
    level: 5
    paths:
        - app/
    bootstrapFiles:
        - vendor/larastan/larastan/bootstrap.php
    ignoreErrors:
        - '#Call to an undefined method#'
        - '#Relation .* is not found#'
        - '#Cannot access offset .* on mixed#'
        - '#Parameter .* expects .*, mixed given#'
        - '#Binary operation .* results in an error#'
        - '#Only iterables can be unpacked#'
        - '#Cannot access property .* on .*\|null#'
        - '#Cannot call method .* on .*\|null#'
        - '#Method .* has no return type specified#'
        - '#Parameter .* has no type specified#'
    reportUnmatchedIgnoredErrors: false